In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
pd.Series

pandas.core.series.Series

In [6]:
%config Completer.use_jedi = False

In [7]:
pd.Series

pandas.core.series.Series

In [8]:
pd.Series()

C:\Users\seolah\AppData\Local\Temp\ipykernel_27908\2031691219.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [9]:
iceCream = [
    "Choco",
    "Vanilla",
    "Strawberry",
    "Rum Raisin"
]

In [10]:
pd.Series(iceCream)

0         Choco
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [11]:
days = ("Monday", "Wednesday", "Friday", "Saturday")

In [12]:
pd.Series(data = iceCream, index = days)

Monday            Choco
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [13]:
bools = [True, False, True]

In [14]:
pd.Series(bools)

0     True
1    False
2     True
dtype: bool

In [15]:
numbers = [6,2,46,135,64]

In [16]:
pd.Series(numbers)

0      6
1      2
2     46
3    135
4     64
dtype: int64

In [17]:
pd.Series(numbers, dtype = "float")

0      6.0
1      2.0
2     46.0
3    135.0
4     64.0
dtype: float64

In [6]:
temp = [9, 88, np.nan, 91]

In [7]:
pd.Series(data = temp)

0     9.0
1    88.0
2     NaN
3    91.0
dtype: float64

In [8]:
my_set = {"Ricky", "Bobby"}

In [9]:
pd.Series(list(my_set))

0    Ricky
1    Bobby
dtype: object

In [10]:
rndNum = np.random.randint(1, 101, 10)

In [11]:
rndNum

array([  6,  66,   7,  26,  45,  78,  59,  85,  73, 100])

In [12]:
pd.Series(rndNum)

0      6
1     66
2      7
3     26
4     45
5     78
6     59
7     85
8     73
9    100
dtype: int32

In [13]:
value = range(0, 500,5)

In [14]:
nums = pd.Series(data = value)

In [15]:
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64